
<h3> <%= link_to "Create", tasks_new_path %></h3>
<ul>
  <% @tasks.each do |task| %>
  <%= link_to task.title, task_path(task.id) %>

    <p><li><%= hidden_field_tag "checked[#{task.id}]", "false" %>
    <%= check_box_tag "checked[#{task.id}]","#{task.id}", task.completed %>
    <%= link_to "Delete",
            task_path(task.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li></p>
  <% end %>
</ul>